body {
  background-color: white;
  color: red;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}

a {
  color: red;

  &:focus,
  &:hover {
    color: pink;
  }
}
.project-presentation{
  border: 1px solid black;
  height: 300px;
}

.project-image{
  max-height: 100px;
  max-width: 100px;


}
