body {
  background-color: grey;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}

a {
  color: white;
  font-size: 12px;

  &:focus,
  &:hover {
    color: pink;
  }
}
.project-presentation{
  height: 25em;


}

.project-image{
  max-height: 400px;
  max-width: 100%;


}
