.container
  %img{:src=>"images/cargar.jpg"}
  %p
    I have worked as  chef for over 10 years and have decided to
    to switch careers to become software developer.
  %p
    I love both math and design so it is the perfect job for me
    and I love every second coding in Ruby, JavaScript, HTML and CSS.

  %a.waves-effect.waves-light.btn.red{:href=>"/cv"} CV
